<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIt > 0 ,
                'list-group-item-danger' : postLoveIt < 0}">
  <div>
<span class="pull-right"><i>{{getPostCreated_at() | date: 'dd/MM/y, h:mm a'}}</i></span>
  <h4>{{getPostTile()}}</h4>
  <div style="margin-bottom: 10px"> {{getPostContent()}}</div>
<div>
  <button class="btn btn-success" (click)="onBtnSuccess()" style="padding: 5px;">Love it!</button>
  <button (click)="onBtnDanger()" class="btn btn-danger" style="margin-left: 10px">Don't love it!</button>
  ( {{getPostLoveIt()}} )
  <button class="btn btn-danger pull-right" (click)="onDeletePost(post)">Supprimer</button>
</div>
  </div>
</li>
